body{
    background-color: #283748;
}
.keysbox{
    width: 100%;
    height: 400px;
    background-color: #506D8F;
}
.connectionbox{
    width: 100%;
    height: 200px;
    background-color: #506D8F;
}
.messager{
    margin-top: 2%;
    width: 100%;
    height: 600px;
    background-color: #506D8F;
}
.keysline{
    width: 98%;
    height: 30%;
    margin-bottom: 1%;
    margin-left: 1%;
    margin-right: 1%;
    background-color: #6387B1;
    display: flex;
}
.buttonbox{
    display: flex;
    background-color: #7BA8DB;
    width: 29%;
    height: 100%;
    align-items: center;
}
.keysoutputbox{
    width: 80%;
    margin-left: 1%;
    height: 100%;
    background-color: #7BA8DB;
}
.idbox{
    width:15%;
    height:100%;
    font-size: 30px;
    margin-left: 1%;
    background-color: #7BA8DB;
    display: flex;
    align-items: center;
    border-radius: 50px;
}
.keysoutputline{
    height: 50%;
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-left: 3%;
}
.output{
    border-radius: 5px;
    background-color: #edf4fc;
    width: 90%;
}
.testoutput{
    border-radius: 5px;
    background-color: #edf4fc;
    pointer-events: none;
    width: 30%;
}
.column1{
    height: 100%;
    align-items: center;
}
.column{
    height: 100%;
    align-items: center;
    width: 80%;
}
.row{
    display:flex;
    height: 50%;
    align-items: center;
    font-size: 20px;
    margin-left: 3%;
    background-color: #7BA8DB;
}
.keysbutton{
    margin-left: 5%;
    margin-right: 5%;
    height: 40%;
    border-radius: 5px;
    width: 90%;
    background-color: #edf4fc;
}
.keysbutton:hover{
    background-color: #c3c9d0;
}
.connectioninterfacebox{
    height: 44%;
    width: 100%;
    align-items: center;
    margin-top: 1%;
    margin-bottom: 1%;

}
.rowcon{
    display:flex;
    height: 100%;
    align-items: center;
    font-size: 20px;
    margin-left: 1%;
    margin-right: 1%;
    background-color: #7BA8DB;
}
.connectionbutton{
    margin-left: 5%;
    margin-right: 5%;
    height: 40%;
    border-radius: 5px;
    width: 40%;
    background-color: #edf4fc;
}
.connectionbutton:hover{
    background-color: #c3c9d0;
}
.outputconn{
    border-radius: 5px;
    background-color: #edf4fc;
    width: 40%;
    height: 20%;
}
.messagerinterface{
    background-color: #6387B1;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
    width: 98%;
    height: 98%;
}
.messagewindow{
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
    width: 98%;
    height: 70%;
    background-color: #edf4fc;
    border-radius: 5px;
    overflow-y: auto;
    border: 2px solid #506D8F;
}
.inputpannel{
    width: 98%;
    height: 28%;
    margin-left: 1%;
    margin-right: 1%;
    background-color: #7BA8DB;  
    border-bottom: 2px solid #506D8F;
    border-left: 2px solid #506D8F;
    border-right: 2px solid #506D8F;
    border-top: 1px solid #506D8F;
    display: flex;
}
.inputmessagearea{
    width: 70%;
    height: 97%;
    resize: none;
}
.messagebuttons{
    width: 30%;
    height: 97%;
    background-color: #7BA8DB;
}
.messagebutton{
    width: 98%;
    height: 30%;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 5px;
}
.messagebutton:hover{
    background-color: #c3c9d0;
}
.message{
    display: flex;
    align-items: center;
    min-height: 50px;
    background-color: #7BA8DB;
}
.operations{
    display: block;
    justify-content: flex;
    width: 200px;
    margin-left: 1%;
    margin-right: 1%;
}
.messageoperation{
    width: 200px;
}
.yourmessage{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #adcdf1;
}
.yourmessagestruct{
    display: block;
    text-align: right;
}
.content{
    margin-right: 5%;
    margin-left: 5%;
}
.yourincryptedmessage{
    background-color: #edf4fc;
    margin-top: 3%;
    margin-bottom: 3%;
}
