<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{style.css}">
        <script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@5.0.0/bundles/stomp.umd.js"></script>
        <script th:src="@{script.js}"></script>
        <title>RSADigitalSignatureShowcase</title>
    </head>

    <body>
        <!-- Интерфейс генерации ключей -->
        <div class="keysbox">
            <div class="keysline">

                <div class="buttonbox"> 
                <button class="keysbutton" name="generatePrime">Сгенерировать простое число</button>
                </div>

                <div class="keysoutputbox"> 
                    <div class="keysoutputline">
                        <b>P:&nbsp&nbsp</b>
                        <p th:text="${p}" class="p-output"></p>
                    </div>
                    <div class="keysoutputline">
                        <b>q:&nbsp&nbsp</b>
                        <p th:text="${q}" class="q-output"></p>
                    </div>
                </div>
                <div class="idbox"><b>&nbspID:&nbsp&nbsp</b><div th:text="${sessionId}" class="idoutput">5409</div></div>
            </div>
            <div class="keysline">

                <div class="buttonbox"> 
                    <button class="keysbutton" type="submit" name="checkPrime">"Проверить числа на простоту"</button>
                </div>

                <div class="keysoutputbox"> 
                    <div class="keysoutputline">
                        <b>Тест 1:&nbsp&nbsp</b>
                        <p th:text="${pIsPrime}" class="p-testoutput"></p>
                    </div>
                    <div class="keysoutputline">
                        <b>Тест 2:&nbsp&nbsp</b>
                        <p th:text="${qIsPrime}" class="q-testoutput"></p>
                    </div>
                </div>
            </div>
            <div class="keysline">

                <div class="buttonbox"> 
                    <button class="keysbutton" name="generateKeys">"Сгенерировать ключи"</button>
                </div>

                <div class="keysoutputbox"> 
                    <div class="column1">
                        <div class="row">
                           <b>Открытый ключ:&nbsp&nbsp</b>
                            <div class="column">
                                <div class="keysoutputline">
                                    <b>e:&nbsp&nbsp</b>
                                    <p th:text="${e}" class="output" id="e"></p>
                                </div>
                                <div class="keysoutputline">
                                    <b>n:&nbsp&nbsp</b>
                                    <p th:text="${n}" class="output" id="n1"></p>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <b>Закрытый ключ:&nbsp&nbsp&nbsp</b>
                            <div class="column">
                                <div class="keysoutputline">
                                    <b>d:&nbsp&nbsp</b>
                                    <p th:text="${d}" class="output" id="d"></p>
                                </div>
                                <div class="keysoutputline">
                                    <b>n:&nbsp&nbsp</b>
                                    <p th:text="${n}" class="output" id="n2"></p>
                                </div>
                            </div>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
        <!-- Интерфейс соединения -->
        <div class="connectionbox">
            <div class="connectioninterfacebox">
                <div class="rowcon">
                    <button class="connectionbutton" name="StartConnection">Отправить запрос на соединение с пользователем</button>
                    <input type="text" class="outputconn" id="connectionLine"/>
                    <button class="connectionbutton" name="KillConnection">Разорвать соединение</button>
                </div>
            </div>
            <div class="connectioninterfacebox">
                <div class="rowcon">
                    <div style="width:40%; display: flex; align-items:center;"><b>&nbsp&nbsp&nbsp&nbsp&nbspОткрытый ключ собеседника:&nbsp&nbsp</b></div>
                    <div class="column">
                        <div class="keysoutputline">
                            <b>e:&nbsp&nbsp</b>
                            <p class="output" id="connectedPublic"></p>
                        </div>
                        <div class="keysoutputline">
                            <b>n:&nbsp&nbsp</b>
                            <p class="output" id="connectedN"></p>
                        </div>
                    </div>
                </div>
            <div>
        </div>



        <!-- Месседжер ебанный -->
        <div class="messager">
            <div class="messagerinterface">
                <div class="messagewindow">
                    <!-- Сообщение собеседника -->
                    <div class="usersmessage">
                        <div class="messagestruct">
                            <div><b>&nbsp&nbsp&nbsp&nbsp ID: <b></div>
                            <p class="connected"></p>
                            <div class="message">
                                <div class="content">
                                    Message
                                </div>
                                <div class="operations">
                                    <input class="messageoperation" type="submit" name="decryptm" value="Расшифровать">
                                    <input class="messageoperation" type="submit" name="veryficate" value="Проверить подпись">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Сообщение пользователя -->
                    <div class="yourmessagebox">
                    <div class="yourmessagestruct">
                            <div><b>You: &nbsp&nbsp&nbsp&nbsp<b></div>
                            <div class="yourmessage">
                                <div class="operations">
                                    <div class="yourincryptedmessage">
                                        dfsfs
                                    </div>
                                </div>
                                <div class="content">
                                    Message
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ZZZZZZZZZZZZZZZZZZZZZZ -->
                </div>
                <div class="inputpannel">
                    <textarea class="inputmessagearea" cols="200" rows="30" name="inputmessage"> </textarea>
                    <div class="messagebuttons">
                        <button class="messagebutton" name="sign">Подписать</button>
                        <button class="messagebutton" name="encrypt">Зашифровать</button>
                        <button class="messagebutton" name="send">Отправить</button>
                    </div>
                </div>
            <div>
        </div>

    </body>

</html>