<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{style.css}">
        <link rel="stylesheet" href="style.css">
        <script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@5.0.0/bundles/stomp.umd.js"></script>
        <script type="module" th:src="@{js/script.js}"></script>
        <title>RSADigitalSignatureShowcase</title>
    </head>
    <body>
        <!-- Интерфейс генерации ключей -->
        <div class="keysbox">
            <div class="keysline">

                <div class="buttonbox"> 
                    <button class="keysbutton" name="generatePrime">Сгенерировать простое число</button>
                </div>

                <div class="keysoutputbox"> 
                    <div class="keysoutputline">
                        <p id="p" class="primitive-name">p:&nbsp&nbsp</p>
                        <p th:text="${p}" class="p-output primitive-value"></p>
                    </div>
                    <div class="keysoutputline">
                        <p id="q" class="primitive-name">q:&nbsp&nbsp</p>
                        <p th:text="${q}" class="q-output primitive-value"></p>
                    </div>
                </div>
                <div class="idbox">
                    <p class="idU">ID: </p>
                    <p th:text="${sessionId}" class="idoutput"></p>
                </div>
            </div>
            <div class="keysline">

                <div class="buttonbox"> 
                    <button class="keysbutton" type="submit" name="checkPrime">Проверить числа на простоту</button>
                </div>

                <div class="keysoutputbox"> 
                    <div class="keysoutputline">
                        <p>Тест Ферма:&nbsp&nbsp</p>
                        <p th:text="${pIsPrime}" class="p-testoutput"></p>
                    </div>
                    <div class="keysoutputline">
                        <p>Тест Миллера-Рабина:&nbsp&nbsp</p>
                        <p th:text="${qIsPrime}" class="q-testoutput"></p>
                    </div>
                </div>
            </div>
            <div class="keysline">

                <div class="buttonbox"> 
                    <button class="keysbutton" name="generateKeys">Сгенерировать ключи</button>
                </div>

                <div class="keysoutputbox"> 
                    <!-- <div class="column1"> -->
                        <div class="row">
                           <p>Открытый ключ&nbsp&nbsp</p>
                            <div class="column">
                                <div class="keysoutputline">
                                    <p class="primitive-name">e:&nbsp&nbsp</p>
                                    <p th:text="${e}" class="output primitive-value" id="e"></p>
                                </div>
                                <div class="keysoutputline">
                                    <p class="primitive-name">n:&nbsp&nbsp</p>
                                    <p th:text="${n}" class="output primitive-value" id="n1"></p>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <p>Закрытый ключ&nbsp&nbsp&nbsp</p>
                            <div class="column">
                                <div class="keysoutputline">
                                    <p class="primitive-name">e:&nbsp&nbsp</p>
                                    <p th:text="${d}" class="output primitive-value" id="d"></p>
                                </div>
                                <div class="keysoutputline">
                                    <p class="primitive-name">d:&nbsp&nbsp</p>
                                    <p th:text="${n}" class="output primitive-value" id="n2"></p>
                                </div>
                            </div>
                        </div>
                    <!-- </div>   -->
                </div>
            </div>
        </div>
        <!-- Интерфейс соединения -->
        <div class="connectionbox">
            <div class="connectioninterfacebox">
                <div class="rowcon">
                    <button class="connectionbutton" name="StartConnection">Отправить запрос на соединение с пользователем</button>
                    <input th:value="${connectedUser}" type="text" class="outputconn" id="connectionLine"/>
                    <button class="connectionbutton" name="KillConnection">Разорвать соединение</button>
                </div>
            </div>
            <div class="connectioninterfacebox">
                <div class="rowcon">
                    <div style="width:40%; display: flex; align-items:center;">
                        <p>&nbsp&nbsp&nbsp&nbsp&nbspОткрытый ключ собеседника:&nbsp&nbsp</p>
                    </div>
                    <div class="column">
                        <div class="keysoutputline">
                            <p class="primitive-name">e:&nbsp&nbsp</p>
                            <p th:text="${connectedPublicKey}" class="output primitive-value" id="connectedPublic"></p>
                        </div>
                        <div class="keysoutputline">
                            <p class="primitive-name">n:&nbsp&nbsp</p>
                            <p th:text="${connectedN}" class="output primitive-value" id="connectedN"></p>
                        </div>
                    </div>
                </div>
            <div>
        </div>
        <!-- Месседжер ебанный -->
        <div class="messager">
            <div class="messagerinterface">
                <div class="messagewindow">
                    <p class="connected"></p>
                    <!-- Сообщение собеседника -->
                    <!-- <div class="usersmessage">
                        <div class="messagestruct">
                            <p class="connected"></p>
                            <div class="message sender">
                                <div class="content">
                                    <div class="content-pairs">
                                        <p class="lab">Статус проверки подписи: </p>
                                        <p style="flex: 5; margin-top: p;" id="sign-verification-status-0"></p>
                                    </div>
                                    <div class="content-pairs">
                                        <p class="lab">Подпись сообщения:</p>
                                        <p class="scroll" id="message-sign-0"></p>
                                    </div>
                                    <div class="content-pairs">
                                        <p class="lab">Хэш сообщения:</p>
                                        <p class="scroll" id="message-hash-0"></p>
                                    </div>
                                    <div class="content-pairs">
                                        <p class="lab">Текст сообщения:</p>
                                        <p class="scroll" id="message-text-0"></p>
                                    </div>
                                </div>
                                <div class="operations">
                                    <button class="messageoperation" name="decryptm-0">Расшифровать</button>
                                    <button class="messageoperation" name="veryficate-0">Проверить подпись</button>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <!-- Сообщение пользователя -->
                    <!-- <div class="usersmessage receiver-message">
                        <div class="receiver-messagestruct">
                            <p class="connected"></p>
                            <div class="message receiver">
                                <div class="content">
                                    <div class="content-pairs">
                                        <p class="lab">Подпись сообщения:</p>
                                        <p class="scroll"></p>
                                    </div>
                                    <div class="content-pairs">
                                        <p class="lab">Хэш сообщения:</p>
                                        <p class="scroll"></p>
                                    </div>
                                    <div class="content-pairs">
                                        <p class="lab">Текст сообщения:</p>
                                        <p class="scroll"></p>
                                    </div>
                                    <div class="content-pairs">
                                        <p class="lab">Зашифрованное сообщения:</p>
                                        <p class="scroll"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
                    <!-- ZZZZZZZZZZZZZZZZZZZZZZ -->
                </div>
                <div class="inputpannel">
                    <div class="textInput">
                        <input type="text" id="signInput"/>
                        <textarea class="inputmessagearea" name="inputmessage"></textarea>
                    </div>
                    <div class="messagebuttons">
                        <button class="messagebutton" name="sign">Подписать</button>
                        <button class="messagebutton" name="encrypt">Зашифровать</button>
                        <button class="messagebutton" name="send">Отправить</button>
                    </div>
                </div>
            <div>
        </div>

    </body>

</html>