@font-face {
    font-family: 'CodeNext-Trial-Thin';
    font-style: normal;
    font-weight: normal;
    src: local('CodeNext-Trial-Thin'),
         url(./fonts/CodeNext-Trial-Thin.otf) format('otf'),
         url(./fonts/CodeNext-Trial-Thin.ttf) format('ttf');
}
p, button {
    font-family: 'CodeNext-Trial-Thin';
    font-size: 1rem;
}
body {
    background-color: #283748;
}
.connectionbox {
    height: 200px;
}
.messager {
    margin-top: 10px;
    height: 40rem;
}
.keysline {
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
}
.buttonbox {
    flex: 2;
    display: flex;
    background-color: #7BA8DB;
    align-items: center;
}
.keysoutputbox {
    flex: 5;
    margin-left: 10px;
    padding: 0px 10px 0px 10px;
    background-color: #7BA8DB;
}
.keysoutputbox p {
    font-size: 1rem;
}
.idbox{
    flex: 2;
    margin-left: 10px;
    background-color: #7BA8DB;
    display: flex;
    align-items: center;
    border-radius: 50px;
}
.idbox p {
    font-size: 1rem;
}
.idU {
    margin-left: 10px;
    flex: 1;
}
.idoutput {
    margin-right: 10px;
    flex: 8;
    word-break: break-all;
}
.output {
    margin: 0px;
}
.keysoutputline{
    display: flex;
    align-items: center;
}
.primitive-name {
    flex: 1;
}
.primitive-value {
    flex: 17;
    word-break: break-all;
}
.testoutput {
    border-radius: 5px;
    background-color: #edf4fc;
    pointer-events: none;
}
.column1 {
    align-items: center;
}
.column {
    align-items: center;
}
.row {
    display:flex;
    align-items: center;
    background-color: #7BA8DB;
}
.keysbutton {
    margin: 0px 10px 0px 10px;
    height: 40%;
    border-radius: 5px;
    width: 100%;
    background-color: #edf4fc;
    font-family: 'CodeNext-Trial-Thin';
    font-size: 1rem;
}
.keysbutton:hover {
    background-color: #c3c9d0;
}
.connectioninterfacebox {
    height: 44%;
    width: 100%;
    align-items: center;
    margin-top: 1%;
    margin-bottom: 1%;
}
.rowcon {
    display:flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #7BA8DB;
}
.connectionbutton {
    margin: 20px 10px 20px 10px;
    height: 3rem;
    border-radius: 5px;
    width: 40%;
    background-color: #edf4fc;
}
.connectionbutton:hover {
    background-color: #c3c9d0;
}
.outputconn {
    border-radius: 5px;
    background-color: #edf4fc;
    width: 40%;
    height: 20%;
}
.messagewindow {
    padding-bottom: 10px;
    margin: 10px 10px 0px 10px;
    background-color: #edf4fc;
    border-radius: 5px;
    overflow-y: auto;
    border: 2px solid #506D8F;
}
.inputpannel {
    margin: 0px 10px 0px 10px;
    background-color: #7BA8DB;  
    border-bottom: 2px solid #506D8F;
    border-left: 2px solid #506D8F;
    border-right: 2px solid #506D8F;
    border-top: 1px solid #506D8F;
    display: flex;
}
.textInput {
    flex: 5;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
}
#signInput {
    flex: 2;
    display: block;
    width: 100%;
    border: 1px solid #283748;
}
.inputmessagearea {
    min-height: 7rem;
    flex: 5;
    width: 100%;
    display: block;
    resize: none;
    border: 1px solid #283748;
}
.messagebuttons {
    flex: 3;
    background-color: #7BA8DB;
    display: flex;
    flex-direction: column;
}
.messagebutton {
    border-radius: 5px;
    flex: 1;
}
.messagebutton:hover {
    background-color: #c3c9d0;
}
.message {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #7BA8DB;
    padding: 10px 0px 0px 0px;
}
.sender {
    max-width: 70%;
}
.scroll {
    overflow: auto;
    max-height: 3rem;
    flex: 5;
    border: 1px solid #506D8F;
}
.operations {
    margin-left: 10px;
    justify-content: flex;
    flex: 1;
}
.messageoperation {
    width: 200px;
}
.yourmessage {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #adcdf1;
}
.yourmessagestruct {
    display: block;
    text-align: right;
}
.content {
    margin: 0px 10px 0px 10px;
    flex: 3;
    word-break: break-all;
}
.yourincryptedmessage {
    background-color: #edf4fc;
    margin-top: 3%;
    margin-bottom: 3%;
}
.content-pairs {
    display: flex;
}

.content-pairs p {
    margin: 0px 0px 10px 0px;
}

.lab {
    margin-right: 5px;
    flex: 2;
}
.receiver-messagestruct {
    margin-left: 30%;
}